<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> <td>10:00</td> <td>Introduction to R and RStudio</td> </tr>
      <tr> <td>10:55</td> <td>Project Management with RStudio</td> </tr>
      <tr> <td>11:25</td> <td>Seeking Help</td> </tr>
      <tr> <td>11:45</td> <td>Data Structures</td> </tr>
      <tr> <td>12:00</td> <td>LUNCH</td> </tr>
      <tr> <td>13:30</td> <td>Data Structures (cont.)</td> </tr>
      <tr> <td>14:10</td> <td>Exploring Data Frames</td> </tr>
      <tr> <td>14:40</td> <td>Subsetting Data</td> </tr>
      <tr> <td>15:30</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td> <td>Control Flow</td> </tr>
      <tr> <td>11:05</td> <td>Base Graphics</td> </tr>
      <tr> <td>12:00</td> <td>LUNCH</td> </tr>
      <tr> <td>13:30</td> <td>Saving Plots</td> </tr>
      <tr> <td>13:55</td> <td>Vectorization</td> </tr>
      <tr> <td>14:20</td> <td>Functions Explaned</td> </tr>
      <tr> <td>15:20</td> <td>END</td> </tr>
    </table>
  </div>
</div>
